.cabeca {
    display: flex;
    align-items: center;
}

.all_navegacao {
    display: flex;
    gap: 20px;
    margin-left:400px;
}

.all_navegacao a{
    color: white;
}

.img_sec02 {
    margin-top: 20px;
    margin-left: 40px;
    width: 90px;
    height: 60px;
}