.img_pele{
    display: flex;
    width: 700px;
    height: 460px;
    margin-top: 30px;
}

.all-edit_sec01{
    display: flex;
    max-width: 20px;
}

.edit_txt_sec01{
    display: flex;
    justify-content: flex-end;
    margin-top: 190px;
    font-size: 40px;
    margin-right: 100px;
}

.edit_bot_sec01{
    display: flex;
    justify-content: flex-end;
    margin-right: 200px;
}

.edit_bot_sec01 button {
    background-color: blue;
    color: white;
    width: 20s0px;
    height: 50px;
}