@import url('https://fonts.googleapis.com/css2?family=Epilogue:ital,wght@0,100..900;1,100..900&family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Jockey+One&family=Josefin+Sans:ital,wght@0,100..700;1,100..700&family=Montserrat:ital,wght@0,100..900;1,100..900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&family=Teko:wght@300..700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Epilogue:ital,wght@0,100..900;1,100..900&family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Jersey+25&family=Jockey+One&family=Josefin+Sans:ital,wght@0,100..700;1,100..700&family=Montserrat:ital,wght@0,100..900;1,100..900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&family=Teko:wght@300..700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Epilogue:ital,wght@0,100..900;1,100..900&family=Hepta+Slab:wght@1..900&family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Jersey+25&family=Jockey+One&family=Josefin+Sans:ital,wght@0,100..700;1,100..700&family=Montserrat:ital,wght@0,100..900;1,100..900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&family=Teko:wght@300..700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Epilogue:ital,wght@0,100..900;1,100..900&family=Hepta+Slab:wght@1..900&family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Jersey+25&family=Jockey+One&family=Jomolhari&family=Josefin+Sans:ital,wght@0,100..700;1,100..700&family=Montserrat:ital,wght@0,100..900;1,100..900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&family=Teko:wght@300..700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Epilogue:ital,wght@0,100..900;1,100..900&family=Gloock&family=Hepta+Slab:wght@1..900&family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Jersey+25&family=Jockey+One&family=Jomolhari&family=Josefin+Sans:ital,wght@0,100..700;1,100..700&family=Montserrat:ital,wght@0,100..900;1,100..900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&family=Teko:wght@300..700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Epilogue:ital,wght@0,100..900;1,100..900&family=Gloock&family=Hepta+Slab:wght@1..900&family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Jaro:opsz@6..72&family=Jersey+25&family=Jockey+One&family=Jomolhari&family=Josefin+Sans:ital,wght@0,100..700;1,100..700&family=Montserrat:ital,wght@0,100..900;1,100..900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&family=Teko:wght@300..700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Epilogue:ital,wght@0,100..900;1,100..900&family=Gentium+Plus:ital,wght@0,400;0,700;1,400;1,700&family=Gloock&family=Hepta+Slab:wght@1..900&family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Jaro:opsz@6..72&family=Jersey+25&family=Jockey+One&family=Jomolhari&family=Josefin+Sans:ital,wght@0,100..700;1,100..700&family=Montserrat:ital,wght@0,100..900;1,100..900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&family=Teko:wght@300..700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Epilogue:ital,wght@0,100..900;1,100..900&family=Freehand&family=Gentium+Plus:ital,wght@0,400;0,700;1,400;1,700&family=Gloock&family=Hepta+Slab:wght@1..900&family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Jaro:opsz@6..72&family=Jersey+25&family=Jockey+One&family=Jomolhari&family=Josefin+Sans:ital,wght@0,100..700;1,100..700&family=Montserrat:ital,wght@0,100..900;1,100..900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&family=Teko:wght@300..700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Epilogue:ital,wght@0,100..900;1,100..900&family=Freehand&family=Fugaz+One&family=Gentium+Plus:ital,wght@0,400;0,700;1,400;1,700&family=Gloock&family=Hepta+Slab:wght@1..900&family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Jaro:opsz@6..72&family=Jersey+25&family=Jockey+One&family=Jomolhari&family=Josefin+Sans:ital,wght@0,100..700;1,100..700&family=Montserrat:ital,wght@0,100..900;1,100..900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&family=Teko:wght@300..700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Epilogue:ital,wght@0,100..900;1,100..900&family=Freehand&family=Fugaz+One&family=Gentium+Plus:ital,wght@0,400;0,700;1,400;1,700&family=Gloock&family=Hepta+Slab:wght@1..900&family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Jaro:opsz@6..72&family=Jersey+25&family=Jim+Nightshade&family=Jockey+One&family=Jomolhari&family=Josefin+Sans:ital,wght@0,100..700;1,100..700&family=Montserrat:ital,wght@0,100..900;1,100..900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&family=Teko:wght@300..700&display=swap');

*{ /*Reset*/
    margin: 0;
    padding: 0;
    border: 0;
    outline: 0;
    box-sizing: border-box;
    list-style: none;
    text-decoration: none;
}

html {
    scroll-behavior: smooth; /*Comportamento de rolagem suave*/
}

body {
    background-color: white;
}

.img_logo img {
    width: 50px;
    height: 30px;
    margin-top: 10px;
    margin-left: 10px;
}

.img_buscar {
    display: flex;
    justify-content: flex-end;
    margin-top: -25px;
    margin-bottom: 5px;
}

header {
    background: url("../img/Fundo\ 01.png") center center/cover;
    height: 100vh;
    background-color: rgba(0, 0, 0, 0.712);
    background-blend-mode: color;
    color: azure;
    font-family: "Jockey One", sans-serif;
}

.cont_cabe {
    display: flex;
    justify-content: center;
    gap: 25px;
    border-bottom: 1px solid rgb(255, 255, 255);
}

.cont_cabe a {
    color: azure;
    font-size: 20px;
    margin-top: -20px;
}

.edit_txt01 {
    margin-left: 40px;
    margin-top: 155px;
}

.edit_txt01 p {
    font-size: 60px;
    max-width: 800px;
}

.edit_border {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 70px;
    color: #fff;
    font-family: "Jersey 25", sans-serif;
}

.edit_border {
    border: 1px solid #111e3a;
    background-color: #111e3a;
    padding: 50px;
    width: 900px;
    margin-left:300px;
    margin-right: 100px;
    margin-top: -60px;
}

.edit_border img {
    gap: 100px;
    margin-left: 10px;
    width: 45px;
}

.edit_border p{
    display: flex;
    width: 45px;
}

.edit_txt02 {
    background-color: white;
    height: 62vh;
}

.edit_txt02 {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    margin-right: 140px; 
    font-family: "Jim Nightshade", cursive;
}

.edit_txt02 cite {
    font-size: 40px;
    width: 400px;
    margin-top: 400px;
    display: flex;
    text-align: center;
}

.img_pele {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    margin-top: -200px;
    margin-left: 70px;
}

.img_pele img {
    border: 1px solid #111e3a;
    background-color: #111e3a;
    margin-bottom: 100px;
    width: 660px;
    height: 350px;
    padding-left: 1px;
    padding-right: 250px;
    padding-top: 1px;
}

.sec02 { 
    background-color: #111e3a;
    height: 100vh;
}

.edit_txt03 {
    display: flex;
    justify-content: end;
    flex-direction: column;
    margin-left: auto;
    padding-top: 50px;
    padding-right: 100px;
    width: 700px; 
    height: 500px;
    color: azure;
    font-family: "Jomolhari", serif;
}

.edit_txt03 h1 {
    font-size: 60px;
    text-align: center;
    margin-bottom: 10px;
}

.edit_txt03 p {
    font-size: 25px;
    gap: 10px;
    text-align: right;
}

.img_jordan {
    margin-top: -370px;
    margin-left: 45px;
}

.img_jordan img {
    width: 500px;
    height: 500px;
}

.sec03 {
    background-color: #111e3a;
    height: 70vh;
}

.img_atletas {
    display: flex;
    justify-content: space-evenly;
    margin-top: 80px;
}

.img_atletas img {
    margin-top: -50px;
    height: 250px;
    width: 200px;
}

.edit_txt04 {
    display: flex;
    justify-content: space-between;
}

.edit_txt04 p {
    border: 1px solid #d9d9d9;
    background-color: #d9d9d9;
    padding: 30px;
    margin-right: 40vh;
    margin-left: 40vh;
    margin-top: 110px;
    font-size: 18px;
    text-align: center;
}

.edit_txt04 img {
    height: 40px;
    width: 40px;
    margin-top: 190px;
    margin-right: 30px;
}

.sec04 {
    background-image: url(../img/Group\ 21.png);
    background-size: cover; /* Ajusta o tamanho da imagem ao tamanho da tela */
    background-repeat: no-repeat; /* Impede que a imagem se repita */
    background-position: center; /* Centraliza a imagem */
    height: 100vh;
}

.edit_txt05 h1 {
    display: flex;
    justify-content: center;
    align-items: center;
    padding-top:10px;
    height: 60vh;
    gap: 5px;
    font-size: 80px;
}

.edit_txt05 span {
    color: #005BE2;
}

.sec05 {
    background-image: url(../img/fundo\ chel\ \(1\).png);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    height: 50vh;
}

.edit_cont01 {
    display: flex;
    justify-content: center;
    margin-left: 100px;
    max-width: 550px; margin-top:800px;
}

.edit_cont01 {
    font-size: 30px;       
    width: 860px;
}

.edit_cont01 {
    display: flex;
    border: 1px solid #D9D9D9;
    background-color: #d9d9d9;
    margin-bottom: 15px;
    width: 500px;
    height: 300px;
    text-align: center;
    margin-left: 250px;
    margin-top: 90px;
    padding-top: 80px;
}

.edit_cont02{
    display: flex;
    margin-top: -130px;
    width: 100%;
}


.sec06 {
    background-image: url(../img/fundo.png);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    height: 100vh;
}

.edit_txt06 {
    display: flex;
    gap: 65px; 
    justify-content: center;
    margin-top: 250px; 
    padding-top: 40px;
    z-index: 2; 
    position: relative;
}

.starter{
    background-color: #e0e1ddc5; 
    border-radius: 15px;
    padding: 50px ;
    width: 250px;
    height: 560px;
    text-align: center;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    color: #0d3b66;
}

.pro{
    background-color: #e0e1ddc5; 
    border-radius: 15px;
    padding: 60px;
    width: 250px;
    height: 560px;
    text-align: center;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    color: #0d3b66;
}

.elite{
    background-color: #e0e1ddc5; 
    border-radius: 15px;
    padding: 60px;
    width: 250px;
    height: 560px;
    text-align: center;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    color: #0d3b66;

}

.preço {
    margin-top: 60px;
    font-size: 3rem;
    font-weight: bold;
    font-family: "Jaro", sans-serif;
}

.button {
    margin-top: 40px;
    display: inline-block;
    text-decoration: none;
    background-color: #3d5a80;
    color: #fff;
    padding: 10px 20px;
    border-radius: 8px;
    font-size: 1rem;
    font-weight: bold;
    box-shadow: 0 3px 5px rgba(0, 0, 0, 0.2);
    transition: all 0.3s ease;
    font-family: "Jaro", sans-serif;
}

.button:hover {
    background-color: #2a4d6c;
    transform: scale(1.05);
}


.sec07 {
    background-image: url(../img/fundo02.PNG);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    height: 100vh;
}

.edit_txt07 {
    display: flex;
    justify-content: flex-start;
    flex-direction: column;
    gap: 50px;
    padding-top: 50px;
    padding-left: 50px;
    width: 900px;
    height: 900px;
}

.edit_txt07 h1 {
    color: azure;
    font-size: 70px;
}

.sec08 .container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 100vh;
    padding: 20px;
  }

 .sec08 .container h1 {
    font-size: 2rem;
    margin-bottom: 20px;
  }

.sec08 form label {
    display: flex;
    margin-bottom: 8px;
    font-size: 1rem;
    color: #ddd;

  }
.sec08 form label[for="email"] {
    font-size: 1.5rem; 
  }

.button form label[for="phone"] {
  font-size: 1.5rem; 
}

.sec08 .form-container {
    font-family: 'Gentiun Plus';
    color: black;
    display: flex;
    background-color: #666;
    padding: 10px;
    border-radius: 8px;
    margin-top: 100px;
    margin-left: 200px;
    width: 955px; 
    height: 553px; 
    margin-right: 20px;
    transform: translateX(-20px);
    flex-direction: column;
    justify-content: center;
}
  
.sec08 form input {
    width: 900px;
    padding: 25px;
    margin-bottom: 40px;
    border: none;
    border-radius: 5px;
    font-size: 1rem;
}

.sec08 form button {
      background-color: #fff;
      color: #000;
      border: none;
      padding: 20px 40px; 
      border-radius: 5px;
      font-size: 1.2rem;
      cursor: pointer;
      width: 200px; 
      height: 60px; 
  }

.sec08 form button:hover {
    background-color: #ddd;
  }
  
  .sec08 .contact-options {
    position: absolute;
    bottom: 20px;
  }
  
  .sec08 .container .contact-options p {
    font-size: 1rem;
    margin-bottom: 10px;
  }
  
  .sec08 .contact-options .icons a img {
    width: 50px;
    height: 50px;
    margin-right: 50px;
    margin-left: 20px; 
}
  
.sec08 .container .basketball img {
    width: 600px;
    height: auto;
    margin-right: -150px;
    margin-bottom: 80px;
    margin-top: -50px;
    }
    
    .sec08 .container h1 {
    font-family: 'Gloock', serif;
    font-size: 102px;
    line-height: 38.4px;
    text-align: center;
    margin-bottom: 20px;
    margin-left: -1058px;
}

.sec8 {
    padding: 20px;
    background-color: #000; /* Fundo preto */
    color: #fff; /* Texto branco para contraste */
}

.sec8 .container {
    max-width: 1200px;
    margin: 0 auto;
    padding: 20px;
}

.sec8 h1 {
    font-family: 'Gloock', serif;
    font-size: 65px;
    text-align: left; /* Alinhar à esquerda */
    margin-left: -150px;
    margin-bottom: 20px;
}

.sec8 .form-container {
    display: flex;
    flex-direction: column;
    align-items: flex-start; /* Alinhar à esquerda */
    background-color: #ccc; /* Fundo cinza */
    padding: 40px;
    border-radius: 8px;
    max-width: 700px; /* Diminuir o tamanho do quadrado */
    margin-left: -150px;
}

.sec8 .form-container form {
    display: flex;
    flex-direction: column;
    width: 100%;
    max-width: 600px;
}

.sec8 .form-container label {
    margin-bottom: 10px;
}

.sec8 .form-container input {
    margin-bottom: 20px;
    padding: 10px;
    font-size: 16px;
    width: 100%;
}

.sec8 .form-container button {
    padding: 10px 20px;
    font-size: 16px;
    cursor: pointer;
}

.sec8 .contact-options {
    text-align: left; /* Alinhar à esquerda */
    margin-top: 20px;
}

.sec8 .contact-options .icons {
    display: flex;
    justify-content: flex-start; /* Alinhar à esquerda */
    gap: 20px;
}

.sec8 .contact-options .icons a img {
    width: 40px;
    height: 40px;
}

.sec8 .basketball {
    text-align: left; /* Alinhar à esquerda */
    margin-top: 20px;
}

.sec8 .basketball img {
    width: 450px; /* Aumentar o tamanho da imagem */
    height: auto;
    margin-left: 900px;
    margin-top: -450px;
}