.sec1 {
  background-image: url("../img/planos fundo.png"); /* usa aspas e espaço sem barra */
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  height: 100vh;
  width: 100vw;
}

.edit_txt010 {
  padding-top: 80px;
  margin-left: 150px;
}

.edit_h1 {
  font-family: "Gloock", serif;
  color: azure;
  font-size: 80px;
}

.edit_h1 span {
  font-family: "Freehand", cursive;
  color: #67A8EA;
}

.edit_txt010 p {
  font-family: "Fugaz One", sans-serif;
  color: rgb(0, 0, 0);
  border: 1px solid rgba(0,0,0,0.5) ; /* borda cinza */
  background-color: #ffffff; /* fundo cinza */
  opacity: 0.5;
  height: 300px;
  width: 600px;
  padding: 105px;
  padding-left: 182px;
  font-size: 50px;
}

.edit_input {
  font-family: "Gloock", sans-serif;
  color: rgb(0, 0, 0);
  border: 1px solid rgba(0,0,0,0.5) ; /* borda cinza */
  background-color: #ffffff; /* fundo cinza */
  opacity: 0.5;
  height: 300px;
  width: 300px;
  
}

.edit_input input {
  color: #111E3A;
}