* {
    margin: 0;
    padding: 0;
    border: 0;
    outline: 0;
    box-sizing: border-box;
    list-style: none;
    text-decoration: none;
    color: 
}

body {
    background-color: #7c201f;;
}

.cabeca {
    background-color: black;
    text-align: right;
}   

.imgc {
    margin-left: 20px;
    display: flex;
}

.logo {
    text-align: left;
    width: 50px;
    height: auto;
    margin-top: 15px;

}

.fundo {
    margin: 15px;
    
}

.botao {
    text-align: center;   
    
}

.bot01, .bot02 {
    margin-bottom: 40px;
}